<div *ngIf="!requireVerification">
  <h1 style="text-align: center;">Login Page</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-hint *ngIf="loginForm.controls.email.errors">Email is required</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-hint *ngIf="loginForm.controls.password.errors">Password is required</mat-hint>
      </mat-form-field>

      <button class="submit-button" mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
    </div>
  </form>
</div>

<div *ngIf="requireVerification">
  <h1 style="text-align: center;">Verification form</h1>
  <form [formGroup]="verificationForm" (ngSubmit)="onVerifySubmit()">
    <div class="container">
      <mat-form-field>
        <input [maxLength]="6" matInput placeholder="verification code" formControlName="verificationCode">
        <mat-hint>Enter the verification code that we sent to your phone number
        </mat-hint>
      </mat-form-field>
      <button class="submit-button" mat-flat-button color="primary" [disabled]="!verificationForm.valid" type="submit">Verify phone</button>
    </div>
  </form>
</div>
