<h2 mat-dialog-title>You are verified! Please login again.</h2>
<div mat-dialog-actions>
  <button style="margin: auto" mat-button mat-raised-button mat-dialog-close color="primary">Close</button>
</div>
