<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-flat-button style="margin-left: 20px;"  routerLink="register" (click)="navigateTo('register')">Register</button>
    <button mat-flat-button style="margin-left: 20px;"  routerLink="login" (click)="navigateTo('login')">Login</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
