<h1 style="text-align: center;">Registration Page</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-hint *ngIf="registerForm.controls.email.errors">Email is required</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-hint *ngIf="registerForm.controls.password.errors">Password is required</mat-hint>
    </mat-form-field>
    <div class="wrapper">
      <mat-form-field class="item" appearance="fill" style="width: 100px;">
        <mat-label>Code</mat-label>
        <mat-select required formControlName="phoneCode">
          <mat-option *ngFor="let code of codes" [value]="code.value">
            {{code.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="item">
      <input matInput placeholder="Phone" [maxLength]="9" pattern="[0-9]+" (keypress)="numberOnly($event)"  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off formControlName="phone">
      <mat-hint *ngIf="registerForm.controls.phone.errors">Phone is required</mat-hint>
    </mat-form-field>
    </div>

    <button class="submit-button" mat-flat-button color="primary" [disabled]="!registerForm.valid" type="submit">Register</button>
  </div>
</form>
