.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container > * {
  width: 40%;
}

.submit-button {
  width: 100px !important;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.item { /* separate properties for IE11 upport */
  margin: 5px;
}
